@media (max-width: 1200px) { 
    .h1 {
        font-size: 2.5rem;
        span {
            font-size: 1.875rem;
        }
    }
    h2, .h2 { font-size: 1.625rem; } 
    h3, .h3 { font-size: 1.5rem; } 
    h4, .h4 { font-size: 1.45rem; }
    h5, .h5 { font-size: 1.35rem; }

    .ptb { padding-top: 4rem; padding-bottom: 4rem; }
    .btn-primary.btn-lg, .btn-white.btn-lg, .btn-outline-dark.btn-lg { font-size: 1.35rem; }
    
     
    .product__box .caption { padding: 1rem; }

    .details__wrapp {
        img { width: 100%; }
        .caption__card {
            .h5 { font-size: 1.125rem; } 
        }
    }
    .caption__card .desc {
        max-height: 7rem;overflow-y: auto;overflow-x: hidden;
    }


     
}