
@media (max-width: 576px) { 
    .lead { font-size: 1rem; }
  
   
    .ptb {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
    .page__header { min-height: 15rem; }
  
    .youtube__logo {
        height: 3rem;width: auto;
    }
}